<div >
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Console</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Application Auto-Recovery & Scaler
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <table width="100%">
                        <tr>
                            <td>
                    			<table>
                    			    <tr>
                    				<td><span ng-switcher  ng-model="console.autoRecovery"></span></td>
                    				<td>&nbsp; Auto-Recovery</td>
                    			    </tr>
                    			</table>
            		        </td>
                            <td>
                                <table id="autoScale">
                                    <tr>
                                    <td><span ng-switcher  ng-model="console.autoScale"></span></td>
                                    <td>&nbsp; Auto-Scale</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
            		<p >
            			<br />
                    
                            <h4>Number of application instances : {{ console.instances }}</h4>
                            <div id="instancesSlider">
                                <slider  floor="0" ceiling="20" step="1" precision="1" ng-model="console.instances"></slider>
                            </div>
                                           
                    </p>
        		    <p>
        			    <br />
                        <h4>Containers</h4>

    		            <table class="table">
    		                <tbody>
    		                    <tr id="{{x.Id}}" class="success" ng-repeat="x in console.containers">
    		                        <td>{{ x.Image }}</td>
    		                        <td>{{ x.Status }}</td>
                                    <td>{{ x.line.data[0][x.line.data[0].length-1] }}% cpu</td>
                					<td><button type="button" class="btn btn-warning" ng-click="stopContainer(x.Id);">Stop</button></td>
    		                    </tr>
    		                </tbody>
    		            </table>
                        
                    </p>
                    <br>
                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
        <!-- /.col-lg-6 -->

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Chaos Monkey
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>
            			<table>
            			    <tr>
            				    <td><span ng-switcher ng-model="console.chaosMonkey"></span></td>
            				<td>&nbsp; Chaos Monkey</td>
            			    </tr>
            			</table>
            		</p>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Zero Downtime Upgrade
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <p>
                        <table>
                            <tr>
                                <td><span ng-switcher ng-model="console.upgrade"></span></td>
                                <td>&nbsp; Upgrade</td>
                            </tr>
                        </table>
                    </p>
                    <p>
            			<table width="100%">
            			    <tr>
            				    <td>
                                    <div class="form-group">
                                        <label>Application Image #1</label>
                                        <input class="form-control" placeholder="Image:Version" ng-model="console.ZTUAContainer">
                                    </div>
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>

                                    <div id="appImage2" class="form-group">
                                        <label>Application Image #2</label>
                                        <input class="form-control" placeholder="Image:Version" ng-model="console.ZTUBContainer">
                                    </div>
                                </td>
            			    </tr>
            			</table>

                        <div id="percentageSlider">
                            <h4>Instances upgraded : {{ console.percentageUpgraded }}%</h4>
                            <slider  floor="0" ceiling="100" step="5" precision="1" ng-model="console.percentageUpgraded"></slider>
                        </div>
		            </p>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>
