<div>
    <div class="row" > 
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        
        <stats number="Up" comments="Service up!" colour="green" type="check"></stats>
        <stats number="{{ containers.length }}" comments="App servers" colour="{{containersColour}}" type="tasks"></stats>
        <stats number="{{ autoRecovery }}" comments="Auto recovery" colour="{{autoRecoveryColour}}" type="medkit"></stats>
        <stats number="{{ chaosMonkey }}" comments="Chaos monkey!" colour="{{chaosMonkeyColour}}" type="bug"></stats>

    </div>
    
    <!-- /.panel -->
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Events
                </div>
                <!-- /.panel-heading -->
                <notifications></notifications> 
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>

        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Help
                </div>
                <!-- /.panel-heading -->
 		<div class="panel-body">
                    <h4>
			Instructions
		    </h4>
		    <p>
			This Admin console monitors and dynamically ensures the Docker Micro-Service Architecture remains available and scales to meet demand.
		    </p>
		    <p>
			This <b>dashboard</b> page shows the overall status of the service and shows any service events.
		    </p>
		    <p>
			The <b>performance</b> page shows performance data about the service.
		    </p>
		    <p>
			The <b>containers</b> page shows the list of Docker containers running on the system.
		    </p>
		    <p>
			The <b>console</b> page lets you control the <i>Auto-Scaler</i>, <i>Chaos-Monkey</i> and <i>Zero-Downtime upgrade</i> functions.
		    </p>

                </div>               
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->

    </div>
    <!-- /.row -->
</div>
