<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Performance</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-6 col-sm-12" id="line-chart" >
        <div class="panel panel-default">
            <div class="panel-heading">Traffic</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="logger.line.data" options="logger.line.options" labels="logger.line.labels" legend="true"
                click="logger.line.onClick" series="logger.line.series"></canvas>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-sm-6" id="line-chart" ng-repeat="x in console.containers track by x.line.id">
        <div class="panel panel-default">
            <div class="panel-heading">{{x.line.id}} - {{x.line.image}} - CPU</div>
            <div class="panel-body">
                <canvas id="line" class="chart chart-line chart-xl" data="x.line.data" options="x.line.options" labels="x.line.labels" legend="true"
                click="x.onClick" series="x.series"></canvas>
            </div>
        </div>
    </div>    

</div>
<div>{{console.maxCPUSeconds}} seconds with greater than 90% CPU.</div>
<div>{{console.minCPUSeconds}} seconds with less than 10% CPU.</div>