    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Test Harness</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default" >
                <div class="panel-heading">
                    Volume Test
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    
                    <p>
            			<table>
            			    <tr>
            				<td><span ng-switcher  ng-model="testSwitchStatus"></span></td>
            				<td>&nbsp; Volume Test</td>
            			    </tr>
            			</table>
            		</p>
            		<p >
            			<br />
                    
                            <h4>Number hits per second : {{hits}}</h4>
                            <div id="hitsSlider">
                                <slider  floor="1" ceiling="20" step="1" precision="1" ng-model="hits"></slider>
                            </div>
                                           
                    </p>

                    
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->


        </div>
        <!-- /.col-lg-6 -->

    </div>
